h1 {
	font-family: Georgia, Times, serif; font-size: 250%; text-shadow: 2px 2px3px #666666; padding-botton: 10px; text-align: center; text-transform: uppercase; background-color: DarkCyan;}
h2 {
	background-color: pink;}
p {
	background-color: white;}
